html {
       background-color: red;
}
body {

    background-clip: red;
}

.content_left{
    padding-left: 10px;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    /* załamanie tekstu*/
    word-wrap:break-word;
    max-width:100%;


}

.content_right{

    padding-right: 10px;
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    /* załamanie tekstu*/
    word-wrap:break-word;
    max-width:100%;



}

.content_center{
    clear: both;
    overflow: hidden;
    margin: 0 auto;
    width: 950px;
    padding-top: 20px;
    /* załamanie tekstu*/
    word-wrap:break-word;
    max-width:100%;
}

/* napis Witaj.. */
.collapse h4{

    position: center;
    padding-right: 25px;
    color: #ffffff !important;

}
.collapse a{

    color: #ffffff !important;


}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;

}
.navbar-toggle {
    z-index:3;
}
.navbar-right{
    float:right!important;margin-right:-105px}


.bg-light {
    background-color: #1c7fe2!important;
}


