html{
    background-color:#ebebec;

    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);


}

body{
    font:15px/1.3 Arial, sans-serif;
    color: rgb(0, 0, 0);
    background-color:#ebebec;
    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);
}



div.srodek{

	padding-top: 5px;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}


div.cale{
    padding-top: 15px;

}

div.lewy{
width: 35%;
height: 100%;
float: left;
padding-left: 15%;
font-size: 19px;
}

div.prawy{

width: 35%;
height: 100%;
float: right;
padding-right: 15%;
font-size: 19px;
}

/* napis Witaj.. */
.collapse h4{
    position: center;
    padding-right: 25px;
    color: #ffffff !important;
}
.collapse a{
    color: #ffffff !important;
}
.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;

}
.navbar-toggle {
    z-index:3;
}
.navbar-right{
    float:right!important;margin-right:-105px}


.bg-light {
    background-color: #1c7fe2!important;
}


div.cale img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150%;
    height: 50%;

}
