{% extends 'glowny.html' %}
{% block producent%} Lista opon {% endblock %}


{% include "navbar.html" %}


{% block strona%}

<div class="srodek">

    {% if opony|length == 0%}
        <h2>brak opon</h2>


    <a class="btn btn-outline-success" href="{% url 'kup_opone' opona.id %}">Kup</a>
    {% else %}
    {% if user.is_authenticated %}<br>
        <a class="btn btn-outline-success" href="{% url 'nowa_opona' %}">Dodaj nową opone</a>
    {% else %}
    {% endif %}

        <h2>Ilosc opon w bazie: {{ opony |length}}</h2>
</div>
{% for opona in opony %}
<div class="cale">

    <div class="lewy">

        <img src="/media/{{ opona.zdjecie}}">

    </div>

    <div class="prawy">


        <h2> {{ opona.producent }}</h2>
        <p> {{ opona.modelnazwa}} {{ opona.szerokosc}}/{{ opona.profil}}R{{ opona.srednica}}</p>
        <p>Szerokosc:{{ opona.szerokosc}}</p>
        <p>Profil opony: {{ opona.profil}}</p>
        <p>Srednica w calach: {{ opona.srednica}}</p>
        <p1>Opis: {{opona.opis}}</p1>
        <br><br>


     {% if user.is_authenticated %}
        <a class="btn btn-outline-success" href="{% url 'kup_opone' opona.id %}">Kup / Rezerwuj</a>
        <a class="btn btn-outline-danger" href="{% url 'edytuj_opone' opona.id %}">Edytuj</a>
        <a class="btn btn-outline-danger" href="{% url 'usun_opone' opona.id %}">Usun</a>




     {% else %}
        <a class="btn btn-outline-success" href="{% url 'kup_opone' opona.id %}">Kup / Rezerwuj</a>


     {% endif %}
        </div>
     {% endfor %}

     {% endif %}



</div>

     {% endblock %}
